<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Cadastro de Usuário</title>
</head>
<body class="container">
    <h1 class="mt-5">Cadastro de Usuário</h1>
        <form action="/cadastrar_usuario" method="POST" class="mb-3">
            <div class="form-group mb-3">
                <label for="txt_nome">Nome:</label>
                <input type="text" class="form-control" id="txt_nome" name="txt_nome" required>
            </div>
            <div class="form-group mb-3">
                <label for="txt_email">Email:</label>
                <input type="email" class="form-control" id="txt_email" name="txt_email" required>
            </div>
            <div class="form-group mb-3">
                <label for="txt_senha">Senha:</label>
                <input type="password" class="form-control" id="txt_senha" name="txt_senha" required>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="/" class="btn btn-secondary">Página Principal</a>
            <a href="/caduser" class="btn btn-secondary">Listar Usuários</a>
        </form>

    <table class="table table-striped mt-5">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Excluir</th>
                <th>Alterar</th>
            </tr>
        </thead>
        <tbody>
            {% for user in usuarios %}
                <tr>
                    <td>{{ user[2] }}</td>
                    <td>{{ user[0] }}</td>
                    <td>{{ user[1] or 'vazio' }}</td>
                    <td><a href="{{ url_for('delete_usuario', id=user[2]) }}" class="btn btn-danger btn-sm">Excluir</a></td>
                    <td><a href="{{ url_for('alterar_usuario', id=user[2]) }}" class="btn btn-warning btn-sm">Alterar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mt-5">
        <a href="/logoff" class="btn btn-danger">Logoff</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

