<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Matematica</title>
<link rel='stylesheet' type='text/css' href='static/bootstrap.css'>
<style>
body {
padding-top: 70px;
}
</style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
<div class="container">
<a class="navbar-brand" href="/">Matematica para todos</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav ml-auto">
<li class="nav-item">
<a class="nav-link" href="/">Matemática</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/calculo2grau">Calculo 2º Grau</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/fahrenheit">Converter Fahrenheit</a>
</li>
</ul>
</div>
</div>
</nav>
<div class="container mt-4">
<h1>Calcular Equação do Segundo Grau</h1>
<form action="/calc_2grau" method="post">
<div class="form-group">
<label for="a">Valor de a:</label>
<input type="number" class="form-control" id="a" name="a" required>
</div>
<div class="form-group">
<label for="b">Valor de b:</label>
<input type="number" class="form-control" id="b" name="b" required>
</div>
<div class="form-group">
<label for="c">Valor de c:</label>
<input type="number" class="form-control" id="c" name="c" required>
</div>
<button type="submit" class="btn btn-primary">Calcular</button>
</form>


</div>
</body>
</html>